* {
    color: white;
}
::placeholder { 
   color:    whitesmoke;
}

.navbar {
    font-size: 20px;
    font-family: 'Mina', sans-serif;
}

.navbar-inverse {
    background-color: black !important;
}


h3{
    font-size: 45px !important;
    font-family: 'Dancing Script', cursive !important;
}
    


body {
    background-image: url("../images/contact.jpg");
    background-size: cover;
    padding-top: 60px;
    height: 600px;
    
}


input {
    padding: 10px;
    margin: 5px;
    background-color: transparent;
}
textarea {
    padding: 20px;
    background-color: transparent;
}
.box {
    padding-top: 50px;
    margin-left: 170px
}

.button {
    background-color: transparent;
    font-size: 12px;
    font-family: cursive;
    border: 2px solid white !important;
    padding : 10px 76px 10px 80px;
    
}


.button:hover{
    border: none;
    color: white !important;
    box-shadow: 0.5px 0.5px 2px 2px white;
}

.button2 {
    background-color: transparent !important;
    color: white !important;
    font-size: 12px;
    font-family: cursive;
    border: 2px solid white !important;
    padding: 9px;
    margin-left: 15px;
}

.button2:hover{
    border: none;
    color: white !important;
    box-shadow: 0.5px 0.5px 2px 2px white;
}
  
.footer {
    background-color: black;
    padding: 30px;
    margin-top: 100px;
    font-size: 10px;
}

.fa {
    padding: 5px;
    font-size: 20px !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-twitter {
    color: lightblue;
}

.fa-pinterest-p {
    color: red;
}

.fa-linkedin {
    color: darkblue;
}

.fa-google-plus {
    color: orangered ;
}