body {
    background-image: url('https://cdn.pixabay.com/photo/2016/09/08/12/00/starry-sky-1654074_1280.jpg');
}
* {
    box-sizing: border-box;
    color: white !important;
}

.navbar {
    font-size: 20px;
    font-family: 'Mina', sans-serif;
}

.navbar-inverse {
    background-color: black !important;
}


h1{
    font-size: 100px !important;
    font-family: 'Dancing Script', cursive !important;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #e0ebeb !important;
    text-align: center;
}
    


 h2 {
    font-family: 'Dancing Script', cursive !important;
    font-size: 45px !important;
     padding-top: 50px;
}

.sub {
        text-align: center; 

    
}
.rect {
    width: 100%; 
}


.box {
    border: 2px solid white;
    margin-bottom: 30px;
}
.box:hover {
    box-shadow: 1px 1px 3px 1px white;
}

.price 
{ 
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.button {
    background-color: transparent !important;
    color: white !important;
    font-size: 12px;
    font-family: cursive;
    border: 2px solid white !important;
    padding: 9px;
    
}

.button2{
    margin-left: 15px;
}

.button:hover{
    border: none;
    color: white !important;
    box-shadow: 0.5px 0.5px 2px 2px white;
}

ul {
    padding-top: 10px;
}

input {
    padding: 10px;
    margin: 5px;
    background-color: transparent;
}

 /* CSS for the footer */
.footer {
    background-color: black;
    padding: 30px;
    font-size: 10px;
}

.fa {
    padding: 5px;
    font-size: 20px !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-twitter {
    color: lightblue !important;
}

.fa-pinterest-p {
    color: red !important;
}

.fa-linkedin {
    color: darkblue !important;
}

.fa-google-plus {
    color: orangered !important;
}





  
