body {
    background-image: url('https://cdn.pixabay.com/photo/2016/09/08/12/00/starry-sky-1654074_1280.jpg');
}
* {
    box-sizing: border-box;
    color: white;
}

.navbar {
    font-size: 20px;
    font-family: 'Mina', sans-serif;
}

.navbar-inverse {
    background-color: black !important;
}

<<<<<<< HEAD
h1 {
    color: lightsteelblue;
    font-family: 'Mina', sans-serif;
    font-size: 60px;
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 30px;


=======

h1{
    font-size: 100px !important;
    font-family: 'Dancing Script', cursive !important;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #e0ebeb !important;
    text-align: center;
>>>>>>> 54922dd69b01552f6acfc4062f76c72dec57b746
}
    


 h2 {
<<<<<<< HEAD
    font-family: 'Mina', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
=======
    font-family: 'Dancing Script', cursive !important;
    font-size: 45px !important;
     padding-top: 50px;
}

.sub {
        text-align: center; 
>>>>>>> 54922dd69b01552f6acfc4062f76c72dec57b746

    
}
.rect {
<<<<<<< HEAD
    width: 100%;
    height: 100px;
    background-color: aliceblue;

=======
    width: 100%; 
>>>>>>> 54922dd69b01552f6acfc4062f76c72dec57b746
}


.box {
    border: 2px solid white;
    margin-bottom: 30px;
}
<<<<<<< HEAD
.rect3 {
    width: 100%;
    height: 180px;
    background-color: aliceblue;
=======
.box:hover {
    box-shadow: 1px 1px 3px 1px white;
>>>>>>> 54922dd69b01552f6acfc4062f76c72dec57b746
}

.price 
{ 
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.button {
    background-color: transparent !important;
    color: white !important;
    font-size: 12px;
    font-family: cursive;
    border: 2px solid white !important;
    padding: 9px;
    
}

.button2{
    margin-left: 15px;
}

.button:hover{
    border: none;
    color: white !important;
    box-shadow: 0.5px 0.5px 2px 2px white;
}

.footer {
    background-color: black;
    padding: 30px;
    font-size: 10px;
}
<<<<<<< HEAD
=======

.fa {
    padding: 5px;
    font-size: 20px !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

input {
    padding: 10px;
    margin: 5px;
    background-color: transparent;
}



  
>>>>>>> 54922dd69b01552f6acfc4062f76c72dec57b746
